<html>
	<head>
		<meta charset="utf-8">
		<title>Coffee--It's about time!</title>
		<meta name="description" content="A roommate chore/IOU app">
		<meta name="author" content="">

		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/create.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/nowjs/now.js"></script>
		<script src="/static/jquery.cookie.js"></script>
		<script src="/static/date.js"></script>
		
		<!--[if lt IE 9]>
     		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->

    	<script>
    	$(document).ready(function () {
			now.ready( function () {

				now.createHouse = function () {
					console.log("creating a house")
					now.generateId(function (id) {
						$.cookie("house",id);
						console.log(id)
						alert("Done!")
					});
				}
			});
    	});

    	</script>

	</head>

	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Sidebar</li>
							<li><a href="/">Home</a></li>
							<li class="active"><a href="/create">Create a House</a></li>
							<li><a href="/join">Join a house</a></li>
						</ul>
					</div>
				</div>

				<div class="span9">
					<div class="row-fluid" id="createHouse">
						<h2>Creating a house</h2>
						<p>You want to create a house, do you? You're in the right place! Just click the shiny button below and prepare your body.</p>

						<p><button type="submit" class="btn" onclick="now.createHouse()">Create</button></p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>