<html>
	<head>
		<meta charset="utf-8">
		<title>Coffee--It's about time!</title>
		<meta name="description" content="A roommate chore/IOU app">
		<meta name="author" content="">

		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/index.css" rel="stylesheet">
		<script src="/nowjs/now.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<!--[if lt IE 9]>
     		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->

    	<script>
    		$(document).ready(function () {
    			now.ready( function () {
    				$("#registerButton").click(function () {
    					now.tryRegister({
    						username: $("#registerUsername").val(),
    						password: $("#registerPassword").val(),
    						email: $("#registerEmail").val()
    					});
    				});
    			});
    		});
    	</script>

	</head>

	<body>
		<div class="container">
			<div class="hero-unit">
				<h1>Welcome!</h1>
				<p>Register for the site, join a house, and start sharing those chores!</p>
			</div>

			<div class="row">
				<div class="span12">
					<form class="well">
						<label>Username</label>
						<input type="text" class="span3" id="registerUsername" placeholder="Pinkie Pie">
						<label>Password</label>
						<input type="password" class="span3" id="registerPassword" placeholder="huehuehue">
						<label>E-mail</label>
						<input type="email" class="span3" id="registerEmail" placeholder="partyhardy@gmail.com">
						<label></label>
						<button type="submit" id="registerButton" class="btn">Register</button>
				</div>
			</div>
		</div>
	</body>
</html>