<html>
	<head>
		<meta charset="utf-8">
		<title>Coffee--It's about time!</title>
		<meta name="description" content="A roommate chore/IOU app">
		<meta name="author" content="">

		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/index.css" rel="stylesheet">
		<script src="/nowjs/now.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/static/jquery.cookie.js"></script>
		<!--[if lt IE 9]>
     		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->

    	<script>
    		$(document).ready(function () {
    			now.ready( function () {
    				$("#registerButton").click(function () {
    					now.tryRegister({
    						username: $("#registerUsername").val(),
    						password: $("#registerPassword").val(),
    						email: $("#registerEmail").val()
    					});
    				});

    				$("#loginButton").click(function () {
    					now.tryLogin({
    						username: $("#loginUsername").val(),
    						password: $("#loginUsername").val()
    					});
    				});

    				now.failRegister = function () {
    					alert("Username taken; try again!");
    				}

    				now.failLogin = function () {
    					alert("Your credentials are wrong; try again!");
    				}

    				now.finishLogin = function (username, house) {
    					$.cookie("username", username)
    					$.cookie("house",house)
    					console.log(house)
    					if (house != "None") {
							console.log("you have a house")
							window.location = "/manage";
							//todo: add house relevant initialization crap
						} else {
							window.location = "/splash";
						}
    					
    				}
    			});
    		});
    	</script>

	</head>

	<body>
		<div class="container">
			<div class="hero-unit">
				<h1>Welcome!</h1>
				<p>Register for the site, join a house, and start sharing those chores!</p>
			</div>

			<div class="row">
				<div class="span12">
					<h3>Register</h3>
					<label>Username</label>
					<input type="text" class="span3" id="registerUsername" placeholder="Pinkie Pie">
					<label>Password</label>
					<input type="password" class="span3" id="registerPassword">
					<label>E-mail</label>
					<input type="email" class="span3" id="registerEmail" placeholder="partyhardy@gmail.com">
					<label></label>
					<button id="registerButton" class="btn">Register</button>
				</div>
			</div>

			<div class="row">
				<div class="span12">
					<h3>Log in
					<label>Username</label>
					<input type="text" class="span3" id="loginUsername" placeholder="Rarity">
					<label>Password</label>
					<input type="password" class="span3" id="loginPassword">
					<label></label>
					<button id="loginButton" class="btn">Login</button>
				</div>
			</div>
		</div>
	</body>
</html>