<html>
	<head>
		<meta charset="utf-8">
		<title>Coffee--It's about time!</title>
		<meta name="description" content="A roommate chore/IOU app">
		<meta name="author" content="">

		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/manage.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/nowjs/now.js"></script>
		<script src="/static/jquery.cookie.js"></script>
		
		<!--[if lt IE 9]>
     		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->

    	<script>
    	$(document).ready(function () {
			now.ready( function () {
				var initializePage = function () {
					var house = $.cookie('house');
					if (house != null) {
						console.log("you have a house")
						//todo: add house relevant initialization crap
					} else {
						console.log("no house :(")
					}
				}
				initializePage();
			});
    	});

    	</script>

	</head>

	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Sidebar</li>
							<li class="active"><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
						</ul>
					</div>
				</div>
				<div class="span9">
					<div class="row-fluid" id="joinHouse">
						<h2>Join a house!</h2>
						Before you can start using this site along with all its amazing features, you'll need to join a house first! Get your housemate(s) to e-mail you the link to join your house, then come back and see the changes.
					</div>
				</div>
				<div class="span9">
					<div class="row-fluid" id="choreDisplay">
						Display chores
					</div>
				</div>
			</div>
		</div>
	</body>
</html>