<html>
	<head>
		<meta charset="utf-8">
		<title>Coffee--It's about time!</title>
		<meta name="description" content="A roommate chore/IOU app">
		<meta name="author" content="">

		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/manage.css" rel="stylesheet">
		<link href="/static/token-input.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/nowjs/now.js"></script>
		<script src="/static/jquery.cookie.js"></script>
		<script src="/static/jquery.tokeninput.js"></script>
		
		<!--[if lt IE 9]>
     		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->

    	<script>
    	$(document).ready(function () {
			now.ready( function () {
				console.log('username: '+$.cookie('username'));
				console.log('house: ' + $.cookie('house'));

				var house = $.cookie('house')

				$("#chorePerson").tokenInput("/lookupmembers/"+house);

				//hides the active div, displays the arg, and changes the highlight on the left
				//super janky, but totally works, so don't knock it
				now.toggleDiv = function (div) {
					var activeLi = $("li.active");
					var activeDivId = activeLi.attr('id');
					var oldDiv = activeDivId + "Div";
					$("#"+div).slideToggle();
					$("#"+oldDiv).slideToggle();
					activeLi.attr('class','');
					var newActive = div.slice(0,-3) //crucial: assume div is of the form nameDiv
					$("#"+newActive).attr('class','active');
				}

				now.loadChores = function () {
					console.log('loading chores');
					now.getChores(house);
				}

				now.appendChore = function (data) {
					console.log(data)
					if (data != "failure") {
						var choreName = data["chore"];
						var choreRotation = data["rotation"];
						var chorePerson = data["person"];

						var toInsert = "<tr><td>"+choreName+"</td><td>"+choreRotation+"</td><td>"+chorePerson+"</td></tr>";
						$("#choresTable").append(toInsert);
					}
				}

				now.addChore = function () {
					var chorePeople = [];
					var choreName = $("#choreName").val();
					var choreRotation = $("#choreRotation").val();
					//var chorePerson = $("#chorePerson").val();
					for (i = 0; i < $(".token-input-list")[0].children.length - 1; i++) {
						var str = $(".token-input-list")[0].children[i].textContent
						chorePeople.push(str.substring(0,str.length-1));
					}
					console.log("ADDING CHORE WITH PEOPLE");
					console.log(chorePeople)
					now.insertChore({
						'house': house, 
						'chore': choreName,
						'rotation': choreRotation,
						'person' : chorePeople }, function (data) {
						if (data == "done") {
							alert('woo');
						} else if (data == "failure") {
							alert(":(");
						} else {
							alert('wtf');
						}
					});
				}
			});
    	});

    	</script>

	</head>

	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Sidebar</li>
							<li id="home" class="active" onclick="now.toggleDiv('homeDiv')"><a href="#">Home</a></li>
							<li id="chores"><a href="#" onclick="now.toggleDiv('choresDiv')">Chores</a></li>
							<li id="todos"><a href="#" onclick="now.toggleDiv('todosDiv')">Todos</a></li>
							<li id="bills"><a href="#" onclick="now.toggleDiv('billsDiv')">Bills</a></li>
						</ul>
					</div>
				</div>

				<div class="span9">
					<div class="row-fluid" id="homeDiv">
						<h2>Welcome!</h2>
						What are you waiting for? GET STARTED!
					</div>
					<div class="row-fluid" id="choresDiv">
						<h2>CHORES!</h2>
						<p>You have a lot of them, unfortunately.</p>

						<p><input type="text" id="choreName" placeholder="dishes"></input></p>
						<p><input type="text" id="choreRotation" placeholder="daily"></input></p>
						<p><input type="text" id="chorePerson" placeholder="sally"></input></p>
						<p><button class="btn" onclick="now.addChore()">ADD CHORE</button></p>
						<p><button class="btn" onclick="now.loadChores()">LOAD CHORES</button></p>

						<table class="table" id="choresTable">
							<thead>
								<tr>
									<th>Chore</th>
									<th>Rotates</th>
									<th>Current</th>
								</tr>
							</thead>
							<tbody id="choresBody">
							</tbody>
						</table>


					</div>
					<div class="row-fluid" id="todosDiv">
						<h2>TODOS!</h2>
						todo: add relevant content
					</div>
					<div class="row-fluid" id="billsDiv">
						<h2>BILLS!</h2>
						Ducks have them.
					</div>
				</div>
			</div>
		</div>
	</body>
</html>